<div class="row">
  <h1>About WALT</h1>
  <p>HELP ORG INC seeks to improve the quality of life for in-place residents by mobilizing its community-driven land trust program, <a href="http://www.helporginc.org/walt-2015.html">Westside Atlanta Land Trust</a>, affectionately called WALT by its Members. WALT's mission is to organize the community's power for self-determination!</p>
  <p>A <strong>community land trust (CLT)</strong> is a nonprofit corporation that develops and stewards affordable housing, community gardens, civic buildings, commercial spaces and other community assets on behalf of a community. CLTs balance the needs of individuals to access land and maintain security of tenure with a communitys need to maintain affordability, economic diversity and local access to essential services.</p>
  <p>We will use digital platforms, like this website, to collect and share the lived experience of community members in Atlanta's westside into a dataset to speak situated truth to the citys public officials in order to keep our neighborhoods affordable and our community sustainable. You can read more about our project on <a href="https://www.newschallenge.org/challenge/data/entries/datasets-for-inclusion">Data Stories for Housing Justice and Community Resilience</a> on our proposal for The Knight News Challenge.</p>
  <p>Our core project team:</p>
  <ul>
    <li>Pamela Flores, Westside Atlanta Land Trust Director</li>
    <li>Mr. Al Bartell, Westside Atlanta Land Trust Public Policy Activist</li>
    <li>Dr. Carl DiSalvo, Director of the <a href="http://publicdesignworkshop.net">Public Design Workshop</a></li>
    <li>Amanda Meng, Public Design Workshop</li>
    <li><a href="http://andyhub.com">Andrew Nelson</a>, Public Design Workshop</li>
  </ul>
</div>
<div class="row">
  <h1>About Madison</h1>
</div>
<div class="row">
  <p>Madison is a government policy co-creation platform that opens up laws and legislation previously off-limits to individuals and the Internet community. Launched to battle the Stop Online Piracy Act (SOPA), it has since been used to power citizen participation in government policymaking in the United States Congress. With Madison, you can access the law as it’s being written, leave comments, annotate specific content, and interact with other civic-minded participants. Madison brings the lawmaking process straight to you, and gives you a say in your government’s decisions.</p>
  <strong>How it works:</strong>
  <ol>
    <li>Sign up and create a username. </li>
    <li>Verify your email address. </li>
    <li>Locate a document by browsing through titles, filtering by sponsor, or searching for keywords. </li>
    <li>Annotate, comment on, and support or oppose the document. </li>
    <li>Stay connected by signing up for email updates.</li>
  </ol>
  <p>When you support or oppose a document, enter a comment, or annotate a specific section of a work in progress, the document’s sponsor receives an electronic notification. Your interaction with legislation on Madison will provide sponsors with valuable feedback on how their constituents feel about proposed legislation, and they may even choose to incorporate suggested edits straight into their documents.</p>
  <strong>What’s next?</strong>
  <p>Engage with the community. Madison allows you to interact not only with specific pieces of legislation, but with other civic-minded citizens. See what other people are saying and share your thoughts. Explore documents from other sponsors or legislative bodies. And suggest changes or features you’d like to see on Madison by giving us feedback in the tab at the left-hand side of the page, or by sending us an email. We’d love to hear from you.</p>
  <strong>Coming Soon</strong>
  <p>Take a look at our <a href="https://github.com/opengovfoundation/madison/milestones">Github Milestones</a> for the most up to date roadmap on Madison.</p>
  <p>Don't see the improvement you're looking for?  Open an issue and we'll respond as quickly as possible.</p>
  <p>Still have a question? Let by using the feedback button in the lower right hand corner.  We'll get back to you right away.</p>
</div>
